@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:#fff;
}
#content{
	width:100%;
	height:auto;
	background-color:black;
	background-image:url(Binary.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
}
.row{
	width:1024px;
	height:auto;
	margin:auto;
	border-bottom:1px dashed #555;
	background-color:white;
}
.header{
	width:100%;
	height:120px;
	background-color:#555;
	text-align:center;
}
.canvs{
	width:100%;
	height:768px;
	padding-top:30px;
	text-align:center;
}
.canvs>div{
	width:1024px;
	height:768px;
}
.toggle{
	width:100%;
	height:100px;
	text-align:center;
}
.toggle button{
	width:100px;
	height:50px;
	margin-top:30px;
	margin-left:50px;
	margin-right:50px;
}
.doc a:hover{
	color:#fe2d49;
}
